node_modules/
android/
www/
.claude/
scripts/
*.md
!README.md
!DEPLOY.md
package.json
package-lock.json
capacitor.config.json
!sw.js

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
